<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.4.1">

<name>Flat Glass Industries</name>

<description>
Flat Glass Industries
</description>

<author href="http://unitworx.com.au" email="henry.tranvan@gmail.com">
Henry Tran
</author>

<icon src="icon.png" />
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
</widget>
