<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.5">

<name>Flat Glass Industries</name>

<description>
Flat Glass Industries
</description>

<author href="http://unitworx.com.au" email="henry.tranvan@gmail.com">
Henry Tran
</author>

<icon src="icon.png" />
<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
	<param name="ios-package" value="CDVInAppBrowser" />
</feature>
</widget>
